<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index Page</title>
</head>
<body>

<div th:each="student:${students}">

    <table>
        <tr>
            <th>FirstName:</th>
            <th>LastName</th>
            <th>Contact</th>
            <th>Email</th>
        </tr>

        <tr th:each="student:${students}">
            <td th:text="${student.fname}"></td>
            <td th:text="${student.lname}"></td>
            <td th:text="${student.contact}"></td>
            <td th:text="${student.email}"></td>

            <td >
                <a th:href="@{/update/{id}(id=${student.id}) }">Update</a>-
                <a th:href="@{/details/{id}(id=${student.id}) }">Details</a>-
                <a th:href="@{/delete/{id}(id=${student.id} }">Delete</a>
            </td>

        </tr>

    </table>


    <h2 th:text="${student.fname}"></h2>


</div>


</body>
</html>